@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?gtj6z9');
  src:  url('#{$icomoon-font-path}/icomoon.eot?gtj6z9#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?gtj6z9') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?gtj6z9') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?gtj6z9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-user {
  &:before {
    content: $fa-user;
  }
}
.fa-lock {
  &:before {
    content: $fa-lock;
  }
}
.fa-chevron-right {
  &:before {
    content: $fa-chevron-right;
  }
}
.fa-check-circle {
  &:before {
    content: $fa-check-circle;
  }
}
.fa-exclamation-circle {
  &:before {
    content: $fa-exclamation-circle;
  }
}
.fa-envelope {
  &:before {
    content: $fa-envelope;
  }
}
.fa-angle-left {
  &:before {
    content: $fa-angle-left;
  }
}
.fa-angle-right {
  &:before {
    content: $fa-angle-right;
  }
}
.fa-mobile {
  &:before {
    content: $fa-mobile;
  }
}
.fa-mobile-phone {
  &:before {
    content: $fa-mobile-phone;
  }
}
.fa-instagram {
  &:before {
    content: $fa-instagram;
  }
}
.fa-graduation-cap {
  &:before {
    content: $fa-graduation-cap;
  }
}
.fa-mortar-board {
  &:before {
    content: $fa-mortar-board;
  }
}
.fa-birthday-cake {
  &:before {
    content: $fa-birthday-cake;
  }
}
.fa-facebook-official {
  &:before {
    content: $fa-facebook-official;
  }
}
.fa-id-badge {
  &:before {
    content: $fa-id-badge;
  }
}

