$icomoon-font-path: "~/assets/fonts" !default;

$fa-user: "\f007";
$fa-lock: "\f023";
$fa-chevron-right: "\f054";
$fa-check-circle: "\f058";
$fa-exclamation-circle: "\f06a";
$fa-envelope: "\f0e0";
$fa-angle-left: "\f104";
$fa-angle-right: "\f105";
$fa-mobile: "\f10b";
$fa-mobile-phone: "\f10b";
$fa-instagram: "\f16d";
$fa-graduation-cap: "\f19d";
$fa-mortar-board: "\f19d";
$fa-birthday-cake: "\f1fd";
$fa-facebook-official: "\f230";
$fa-id-badge: "\f2c1";

