<template lang="pug">
  div
    .field
      label.label Filtre por nome
      b-autocomplete(v-model="searchWord" placeholder="e.g. administração" :keep-first="true" :data="filteredCourses" field="name" @select="o => setSelect(o)")
    .field
      label.label Filtre por tipo
      b-checkbox(v-model="checkboxType" native-value="bacharel")
        | Bacharel
      b-checkbox(v-model="checkboxType" native-value="tecnólogo")
        | Tecnólogo
      b-checkbox(v-model="checkboxType" native-value="licenciatura")
        | Licenciatura
    span.label Filtre por tempo
    .field
      b-checkbox(v-model="checkboxTime" native-value="2")
        | 2 semestres
      b-checkbox(v-model="checkboxTime" native-value="4")
        | 4 semestres
      b-checkbox(v-model="checkboxTime" native-value="6")
        | 6 semestres
      b-checkbox(v-model="checkboxTime" native-value="8")
        | 8 semestres
      b-checkbox(v-model="checkboxTime" native-value="10")
        | 10 semestres

      .pricing-table
        .pricing-plan(v-for="course in filteredCourses" :class="{ 'is-active': isSelectedCourse(course) }")
          .plan-header {{ course.name }}
          .plan-price(v-html="$options.filters.price(course.priceOff)")
          .plan-items
            .plan-item
              b-tag(type="is-light").is-medium {{ course.time | semestre }}
            .plan-item
              b-tag(type="is-light").is-medium {{ course.type | capitalize }}
          .plan-footer
            button.button.is-fullwidth(@click="setSelect(course)") Selecionar

</template>

<script>
export default {
  name: 'courso-form',
  filters: {
    capitalize (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
    price (value) {
      value = value.split(',')
      return `<span class="plan-price-amount"><span class="plan-price-currency">R$</span>${value[0]}</span>,${value[1]}*`
    },
    semestre (value) {
      return (value > 0 ? `${value} semestres` : `${value} semestre`)
    }
  },
  methods: {
    setSelect (option) {
      if (option) {
        this.$store.dispatch('SET_SUBSCRIPTION_COURSE', option)
      }
    },
    isSelectedCourse (course) {
      return (this.$store.getters.getSubscriptionCourse === course)
    },
    update (val) {
      this.value = Number(val)
    }
  },
  computed: {
    searchWord: {
      get () {
        return this.$store.getters.getSearchWord || ''
      },
      set (value) {
        this.$store.dispatch('FILTER_COURSES', value)
      }
    },
    checkboxType: {
      get () {
        return this.$store.getters.getFilteredTagByType
      },
      set (value) {
        if (this.$store.getters.getFilteredTagByType !== value) {
          this.$store.dispatch('MODIFY_AVALIBLE_COURSES',
            {
              name: 'type',
              value: value
            }
          )
        }
      }
    },
    checkboxTime: {
      get () {
        return this.$store.getters.getFilteredTagByTime
      },
      set (value) {
        if (this.$store.getters.getFilteredTagByTime !== value) {
          this.$store.dispatch('MODIFY_AVALIBLE_COURSES',
            {
              name: 'time',
              value: value
            }
          )
        }
      }
    },
    checkboxMethod: {
      get () {
        return this.$store.getters.getFilteredTagByMethod
      },
      set (value) {
        if (this.$store.getters.getFilteredTagByMethod !== value) {
          this.$store.dispatch('MODIFY_AVALIBLE_COURSES',
            {
              name: 'method',
              value: value
            }
          )
        }
      }
    },
    filteredCourses () {
      return (this.$store.getters.getFilteredCourses || this.$store.getters.getAvalibleCourses)
    }
  }
}
</script>

<style lang="scss" scoped>
  .pricing-plan {
    min-width: 250px;
  }
</style>
