<template lang="pug">
  form(netlify name="subscription")
    .field
      label.label Nome completo
      .control.has-icons-left.has-icons-right
        input.input(type="text" :class="{ 'is-danger': errors.has('name') }" name="name" v-model="name" placeholder="ex. Cecília Meireles"  v-validate="'required'" required)
        span.icon.is-left
          i.fa.fa-user
        span.icon.is-small.is-right(v-if="errors.has('name')")
          i.fa.fa-warning
      span.help.is-danger(v-if="errors.has('name')") Por favor, informe seu nome corretamente.
    .field
      label.label E-mail
      .control.has-icons-left.has-icons-right
        input.input(type="email" :class="{ 'is-danger': errors.has('email') }" name="email" v-model="email" placeholder="ex. cecilia@meireles.com.br" v-validate="'required|email'" required)
        span.icon.is-small.is-left
          i.fa.fa-envelope
        span.icon.is-small.is-right(v-if="errors.has('email')")
          i.fa.fa-warning
      span.help.is-danger(v-if="errors.has('email')") Por favor, informe seu e-mail corretamente.
    .field
      label.label Celular
      .control.has-icons-left.has-icons-right
        input.input(type="phone" :class="{ 'is-danger': errors.has('phone') }" name="phone" v-model="phone" placeholder="ex. (44) 99109-1200" v-mask="'(##) #####-####'" v-validate="'required|min:15|max:16'" minlength="16" maxlength="16" required)
        span.icon.is-left
          i.fa.fa-mobile
        span.icon.is-small.is-right(v-if="errors.has('phone')")
          i.fa.fa-warning
      span.help.is-danger(v-if="errors.has('phone')") Por favor, informe seu celular corretamente.
    .field
      label.label CPF
      .control.has-icons-left.has-icons-right
        input.input(type="phone" :class="{ 'is-danger': errors.has('cpf') }" name="cpf" v-model="cpf" placeholder="ex. 000.000.000-00" v-mask="'###.###.###-##'" v-validate="'required|cpf|min:13|max:14'" minlength="13" maxlength="14" required)
        span.icon.is-left
          i.fa.fa-lock
        span.icon.is-small.is-right(v-if="errors.has('cpf')")
          i.fa.fa-warning
      span.help.is-danger(v-if="errors.has('cpf')") Por favor, informe seu CPF corretamente.
    .field
      label.label Data de Nascimento
      b-datepicker(placeholder="ex. 31/12/1500" v-validate="'required'" minlength="9" maxlength="10" icon="birthday-cake" v-model="birthday" :class="{ 'is-danger': errors.has('birthday') }" :min-date="minDate" :max-date="maxDate" :focused-date="maxDate" inline)
    p.help.is-danger(v-if="errors.has('birthday')") Por favor, informe sua data de nascimento corretamente.
    .field
      b-checkbox(checked required v-validate="'required'" name="agreed" v-model="agreed") Permito que o IDEPead entre em contato comigo.
      span.help.is-danger(v-if="errors.has('agreed')") Temos que entrar em contato contigo para efetivar a matrícula.
    input(type="hidden" name="course" :value="getSubscriptionCourseString")
</template>

<script>
export default {
  name: 'dados-form',
  data () {
    const today = new Date()
    return {
      maxDate: new Date(today.getFullYear() - 16, today.getMonth(), today.getDate()),
      minDate: new Date(today.getFullYear() - 100, today.getMonth(), today.getDate())
    }
  },
  computed: {
    getSubscriptionCourseString () {
      return this.$store.getters.getSubscriptionCourseString
    },
    name: {
      get () {
        return this.$store.getters.getSubscriptionName
      },
      set (value) {
        if (value !== this.$store.getters.getSubscriptionName) {
          this.$store.dispatch('SET_SUBSCRIPTION_NAME', value)
        }
      }
    },
    email: {
      get () {
        return this.$store.getters.getSubscriptionEmail
      },
      set (value) {
        if (value !== this.$store.getters.getSubscriptionEmail) {
          this.$store.dispatch('SET_SUBSCRIPTION_EMAIL', value)
        }
      }
    },
    phone: {
      get () {
        return this.$store.getters.getSubscriptionPhone
      },
      set (value) {
        if (value !== this.$store.getters.getSubscriptionPhone) {
          this.$store.dispatch('SET_SUBSCRIPTION_PHONE', value)
        }
      }
    },
    cpf: {
      get () {
        return this.$store.getters.getSubscriptionCPF
      },
      set (value) {
        if (value !== this.$store.getters.getSubscriptionCPF) {
          this.$store.dispatch('SET_SUBSCRIPTION_CPF', value)
        }
      }
    },
    birthday: {
      get () {
        return this.$store.getters.getSubscriptionBirthday
      },
      set (value) {
        if (value !== this.$store.getters.getSubscriptionBirthday) {
          this.$store.dispatch('SET_SUBSCRIPTION_BIRTHDAY', value)
        }
      }
    },
    agreed: {
      get () {
        return this.$store.getters.getSubscriptionAgreed
      },
      set (value) {
        if (value !== this.$store.getters.getSubscriptionAgreed) {
          this.$store.dispatch('SET_SUBSCRIPTION_AGREED', value)
        }
      }
    }
  }
}
</script>

<style lang="scss">
.pagination-list {
  height: 2.6667em !important;
  .field {
    height: 2.6667em !important;
  }
}
</style>
