<template>
  <form name="contact" netlify netlify-honeypot="bot-field" hidden class="is-invisible">
    <input type="text" name="name" />
    <input type="email" name="email" />
    <textarea name="message"></textarea>
  </form>
</template>

<script>
export default {
  name: 'form-hidden'
}
</script>
