<template lang="pug">
  footer.footer
    .container
      .content.has-text-centered
        p
          small * Os valores apresentados no momento da inscrição podem não ser os mesmos no momento da matrícula.
        p
          span Feito com&nbsp;
          span.heart ❤&nbsp;
          span por&nbsp;
          strong.link André Van Dal
          span .
</template>

<style lang="scss" scoped>
  .footer {
    background-color:hsl(0, 0%, 21%);
    color: white;
    padding: 2rem 1.5rem 3rem;
  }
  .heart{
    color: #E74C3C;
  }
  .link{
    color: #6BC7D2;
  }
</style>
<script>
export default {
  name: 'app-footer'
}
</script>

