<template lang="pug">
  nav.navbar.is-black
    .container
      .navbar-brand
        nuxt-link(to="/").navbar-item
          img(src="~/assets/idepead-logotipo-black.svg" alt="IDEPead - Educação a Distância" height="52")
      .navbar-end.is-hidden-touch
        a.navbar-item(href="https://fb.com/idepead" target="_blank")
          span.icon
            i.fa.fa-lg.fa-facebook-official
        a.navbar-item(href="https://instagram.com/idepead" target="_blank")
          span.icon
            i.fa.fa-lg.fa-instagram
</template>
<script>
export default {
  name: 'app-navbar'
}
</script>
