<template lang="pug">
   b-notification(type="is-danger" has-icon) Algum erro ocorreu. Por favor, entre em contato conosco.
</template>

<script>
export default {
  layout: 'message',
  name: 'error-message'
}
</script>
