<template lang="pug">
  form-wizard(@on-complete="onComplete" shape="circle" color="#2780e3" stepSize="sm")
    template(slot="title")
      h1.title Faça já sua inscrição!
    template(slot="next")
      .field.is-grouped
        .control
          button.button.is-primary Avançar
    template(slot="prev")
      .field.is-grouped
        .control
          button.button.is-warning Voltar
    template(slot="finish")
      .field.is-grouped
        .control
          button.button.is-success Enviar

    tab-content(title="Selecione o Curso" icon="fa fa-graduation-cap" :before-change="beforeTabSwitch")
      component(is="curso")
    tab-content(title="Informe seus dados" icon="fa fa-id-badge")
      component(is="dados" ref="dados")
    hidden-form
</template>

<script>
import dados from '~/components/form/dados'
import curso from '~/components/form/curso'
import hiddenForm from '~/components/form/hidden'

export default {
  name: 'index-page',
  components: {
    dados,
    curso,
    hiddenForm
  },
  data () {
    return {
      online: true
    }
  },
  mounted () {
    if (!window.navigator) {
      this.online = false
      return
    }
    this.online = Boolean(window.navigator.onLine)
    window.addEventListener('offline', this._toggleNetworkStatus)
    window.addEventListener('online', this._toggleNetworkStatus)
  },
  methods: {
    onComplete () {
      this.$refs['dados'].$validator.validateAll()
        .then((result) => {
          if (result) {
            const encode = (data) => {
              return Object.keys(data)
                .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
                .join('&')
            }

            let body = encode({
              'form-name': 'subscription',
              name: this.$store.getters.getSubscriptionName,
              email: this.$store.getters.getSubscriptionEmail,
              phone: this.$store.getters.getSubscriptionPhone,
              cpf: this.$store.getters.getSubscriptionCPF,
              birthday: this.$store.getters.getSubscriptionBirthday,
              agreed: this.$store.getters.getSubscriptionAgreed,
              course: this.$store.getters.getSubscriptionCourseString
            })
            fetch('/subscription', {
              method: 'POST',
              headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
              body: body
            })
              .then(() => {
                this.$store.dispatch('SET_SUBSCRIPTION_SEND', {
                  name: 'success',
                  value: 'true'
                }).then(() => {
                  this.$store.dispatch('CLEAN_SUBSCRIPTION')
                  this.$router.push('/success')
                })
              })
              .catch(() => {
                this.$store.dispatch('SET_SUBSCRIPTION_SEND', {
                  name: 'error',
                  value: 'true'
                })
                this.$router.push('/success')
              })
          }
        })
    },
    _toggleNetworkStatus ({ type }) {
      this.online = type === 'online'
    },
    beforeTabSwitch () {
      return Boolean(this.$store.getters.getSubscriptionCourse)
    }
  },
  computed: {
    filteredCourse () {
      return this.$store.getters.getFilteredCourse
    }
  },
  destroyed () {
    window.removeEventListener('offline', this._toggleNetworkStatus)
    window.removeEventListener('online', this._toggleNetworkStatus)
  }
}
</script>

<style lang="scss">
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
</style>

