<template lang="pug">
  b-notification(type="is-success" has-icon) Sua inscrição foi realizada com sucesso! Em breve, entraremos em contato contigo.
</template>

<script>
export default {
  layout: 'message',
  name: 'success-message'
}
</script>
